.Modes_content{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    /*grid-template-columns: 50% 50%;*/
    /*grid-template-rows: 50% 50%;*/
    width: 700px;
    margin-left: 15px;
}

.All_Components_Modes{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

