.Card{
    border: 1px solid #cbcbcb;
    width: 300px;
    height: 320px;
    border-radius:20px ;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.Card_name{
    display: flex;
}

.Card_name h2{
    padding-left: 10px;
}

.Card_name img{

    height: 50px;
    width: 50px;
}