.AllContentSuport{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Suport_Helou{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    height: 724px;
    background-image: url("https://gamemag.ru/images/cache/News/News160116/2c746c3941-2_1390x600.jpg");
    background-repeat: no-repeat;
    background-size: 100vw ;
    z-index: 20;
    position: relative;
}

.Suport_Helou::after{
    position: absolute;
    content:"";
    background-size: 100vw ;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    background: #212121;
    pointer-events: none;
}

.Suport_text{
    color: #fff;
    opacity: 1;
    font-size: 30px;
    z-index: 20;
    text-align: center;
}

.Suport_input{
    opacity: 1;
    padding-top: 20px;
    z-index: 20;
}

.Suport_input input{
    height: 60px;
    width: 40vw;
    border: none;
    border-radius: 10px;
    padding: 30px;
    outline: none;
}

.Suport_input button {
    height: 60px;
    width: 100px;
    border: #212121 solid 1px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .Suport_text{
        font-size: 20px;
    }
}